src/main/resources/dsl/template.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="template">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identifier" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation/>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="title" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="description" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:integer" name="estimatedWorkTime" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:date" name="deadline" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="githook" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="taskBody" minOccurs="1" maxOccurs="1">
					<xs:complexType mixed="true">
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element type="xs:string" name="h1"/>
							<xs:element type="xs:string" name="br"/>
							<xs:element type="xs:string" name="h2"/>
							<xs:element type="xs:string" name="h3"/>
							<xs:element type="xs:string" name="b"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="taskElements" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="taskElement" maxOccurs="30" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="status" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:string" name="value" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:string" name="solution" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="link" minOccurs="0" maxOccurs="1"/>
										<xs:element type="taskElementsType" name="type" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
									<xs:attribute type="xs:integer" name="id" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="taskElementsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="image"/>
			<xs:enumeration value="checkbox"/>
			<xs:enumeration value="textbox"/>
			<xs:enumeration value="file"/>
			<xs:enumeration value="slider"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>