src/main/resources/template.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="template">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identifier">
					<xs:annotation>
						<xs:documentation/>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="title"/>
							<xs:element type="xs:string" name="description"/>
							<xs:element type="xs:integer" name="estimatedWorkTime"/>
							<xs:element type="xs:date" name="deadline"/>
							<xs:element type="xs:string" name="githook"/>
							<xs:element type="xs:boolean" name="comments"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="taskBody" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element type="xs:string" name="h1"/>
							<xs:element type="xs:string" name="br"/>
							<xs:element type="xs:string" name="h2"/>
							<xs:element type="xs:string" name="h3"/>
							<xs:element type="xs:string" name="b"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="taskElements" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="taskElement" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="status"/>
										<xs:element type="xs:string" name="value"/>
										<xs:element type="xs:string" name="link"/>
										<xs:element type="taskElementsType" name="type"/>
									</xs:sequence>
									<xs:attribute type="xs:integer" name="id" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="taskElementsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="image"/>
			<xs:enumeration value="checkbox"/>
			<xs:enumeration value="textbox"/>
			<xs:enumeration value="file"/>
			<xs:enumeration value="slider"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>